.header {
    height: 8vh;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: var(--box-shadow);
    z-index: 10;
    // position: fixed;
    // left: 0;
    // right: 0;
    // top: 0;
}


.header span {
    font-size: 2.4rem;
    font-weight: bold;
    text-shadow: var(--text-shadow);
}

.toggleButton {
    width: 60px;
    height: 28px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--toggle-color);
    cursor: pointer;
}

.circle {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.iconMoon {
    color: var(--toggleIcon-color);
    font-size: 2rem;
    margin-top: 6px;
    transition: all 0.2s ease;
    margin-bottom: 10px;
}

.input:checked~.circle {
    transform: translateX(-28px);
    -webkit-transform: translateX(-28px);
    -ms-transform: translateX(-28px);

}

.input:checked~.iconMoon {
    transform: translateX(28px);
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
}

.input {
    display: none;
}